<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hello WebSocket</title>
    <script src="../WebApplication4PW_0_0_1_SNAPSHOT_war/webjars/jquery/jquery.min.js"></script>
    <script src="../WebApplication4PW_0_0_1_SNAPSHOT_war/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="../WebApplication4PW_0_0_1_SNAPSHOT_war/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="../WebApplication4PW_0_0_1_SNAPSHOT_war/app.js"></script>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/book/index}">Wypożyczalnia książek</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/chat" th:href="@{/chat}">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/user-info" th:href="@{/user-info}" th:action="@{/user-info}" method="get"> <th:block th:text="${session.currentUser.getUsername()}"></th:block></a>
                    <!--                    <a class="nav-link" href="/user/sign-up" th:action="@{/sign-up}" method="get">${session.currentUser}</a>-->
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <input type="hidden" id="name" class="form-control" placeholder="Your name here..." th:value="${session.currentUser.getUsername()}">
                </div>
                <div class="form-group">
                    <label for="name">Wiadomość</label>
                    <input type="text" id="msg" class="form-control" placeholder="Your message here...">
                </div>
                <button id="send" class="btn btn-default" type="submit">Wyślij</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Chat room</th>
                </tr>
                </thead>
                <tbody id="chatRoom">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
