<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
</head>
<body>
<h2>Autor projektu: Paweł Wiśniewski</h2>
<h2>Aktualna data: <th:block th:text="${currentDate}"></th:block> </h2>

<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Tytul </th>
        <th> Autor </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td><span th:text="${book.getId()}"> Title </span></td>
        <td><span th:text="${book.title}"> Title </span></td>
        <td><span th:text="${book.author}"> Author </span></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/add}" th:object="${addbook}" method="post">
    ID:<input type="text" th:field="*{id}"  />
    Autor: <input type="text" th:field="*{author}"  />
    Tytul: <input type="text" th:field="*{title}"  />
<p><input type="submit" value="dodaj"></p>
</form>

</body>
</html>
